Package: com.ZaneHelton.Liu-Soundboard
Name: Liu Soundboard
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Because why not?
Maintainer: Zane Helton
Author: Zane Helton
Section: Apps

