Package: com.zanehelton.cctimercountdown
Name: CCTimerCountdown
Depends: mobilesubstrate, firmware (>= 8.0)
Architecture: iphoneos-arm
Description: Display countdown timer in the control center.
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
Version: 1.0.0
Installed-Size: 200
